:root {
	--origami_app_primary_light: #99A9CD;
	--origami_app_primary_main: #1E4BD2;
	--origami_app_primary_dark: #002882;

	--origami_app_background: #EAEDF5;
}


/* Подключаем шрифты */


@font-face {
	font-family: "VTB Group UI";
	font-display: swap;
	font-weight: 300;
	src: url(./origami/app/assets/fonts/VTBGroupUI-Light.ttf) format(truetype),
}

@font-face {
	font-family: "VTB Group UI";
	font-display: swap;
	font-weight: 400;
	src: url(./origami/app/assets/fonts/VTBGroupUI-Regular.ttf) format(truetype),
}

@font-face {
	font-family: "VTB Group UI";
	font-display: swap;
	font-weight: 500;
	src: url(./origami/app/assets/fonts/VTBGroupUI-Medium.ttf) format(truetype),
}

@font-face {
	font-family: "VTB Group UI";
	font-display: swap;
	font-weight: 600;
	src: url(./origami/app/assets/fonts/VTBGroupUI-DemiBold.ttf) format(truetype),
}

@font-face {
	font-family: "VTB Group UI";
	font-display: swap;
	font-weight: 700;
	src: url(./origami/app/assets/fonts/VTBGroupUI-Bold.ttf) format(truetype),
}

[origami_app] {
	font-family: 'VTB Group UI', sans-serif;
	background: red;
}



/* Переопределение цветов базовой темы */


[mol_button_major] {
	background: var(--origami_app_primary_main);
}

[mol_button_major]:focus {
	background: var(--origami_app_primary_main);
}

[mol_button_major]:hover {
	background: var(--origami_app_primary_dark);
}

[mol_button_major]:active {
	color: white;
}

[mol_button_minor] {
	color: black
}

[mol_button_minor]:focus {
	background: initial;
}

[mol_button_minor]:active {
	color: black;
}

[mol_check] {
	color: black;
	background-color: white;
}

[mol_check_checked="true"] {
	color: white !important;
	background-color: var(--origami_app_primary_main) !important;
}

[mol_link]:where([mol_link_current="true"]) {
	color: var(--origami_app_primary_dark)
}

[mol_link]:active {
	color: var(--origami_app_primary_dark)
}

/* Переопределение границ элементом темы */
[mol_button_typed] {
	border-radius: 2rem;
}

/* Переопределение отступов */
[mol_switch] {
	gap: 0.75rem;
}






/* Переопределение шаблона страницы */
[origami_app_head] {
	background-color: var(--origami_app_primary_main);
	color: white;
	border-radius: 0 0 20px 20px;
	font-size: 1.5rem;
	align-items: center;
}


[origami_app_foot] {
	padding: 0;
	border-radius: 20px 20px 0 0;
	background-color: white;
}

[origami_app_foot]>* {
	font-size: 2rem;
	flex: 1;
	justify-content: center;
}

[origami_app] {
	background-color: var(--origami_app_background);
}

[origami_app_body]>* {
	gap: 1rem;
	width: 900px;
	margin: auto;
}


/* Переопределение элементов компонента */

[origami_app_settings] {
	color: white;
	font-size: 2rem;
}

[origami_app_settings]:active {
	color: white;
}

[origami_app_menu_link] {
	color: var(--origami_app_primary_light);
	gap: 0;
	font-size: 12px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
[origami_app_menu_link][mol_link_current="true"] {
	color: var(--origami_app_primary_dark);
}
