/*** COLORS ***/

[origami_ui_text] {
	color: var(--origami_ui_theme_common);
}

[origami_ui_text_contrast] {
	color: var(--origami_ui_theme_contrast);
}

[origami_ui_text_light] {
	color: var(--origami_ui_theme_light);
}

[origami_ui_text_main] {
	color: var(--origami_ui_theme_main);
}

[origami_ui_text_dark] {
	color: var(--origami_ui_theme_dark);
}

[origami_ui_text_warning] {
	color: var(--origami_ui_theme_warning);
}

[origami_ui_text_success] {
	color: var(--origami_ui_theme_success);
}

/*** FONT-SIZE ***/
/* COMMON TEXT */
[origami_ui_text],
[origami_ui_text_contrast],
[origami_ui_text_light],
[origami_ui_text_main],
[origami_ui_text_dark],
[origami_ui_text_success],
[origami_ui_text_warning] {
	font-size: calc(var(--origami_ui_theme_font_size));
}

/* LARGE */
[origami_ui_text_large],
[origami_ui_text_contrast_large],
[origami_ui_text_light_large],
[origami_ui_text_main_large],
[origami_ui_text_dark_large],
[origami_ui_text_success_warning_large],
[origami_ui_text_large] {
	font-size: calc(var(--origami_ui_theme_font_size) + var(--origami_ui_theme_font_size_step));
}

/* LARGEST */
[origami_ui_text_largest],
[origami_ui_text_contrast_largest],
[origami_ui_text_light_largest],
[origami_ui_text_main_largest],
[origami_ui_text_dark_largest],
[origami_ui_text_success_largest],
[origami_ui_text_warning_largest] {
	font-size: calc(var(--origami_ui_theme_font_size) + var(--origami_ui_theme_font_size_step) * 2);
}

/* SMALL */
[origami_ui_text_small],
[origami_ui_text_contrast_small],
[origami_ui_text_light_small],
[origami_ui_text_main_small],
[origami_ui_text_dark_small],
[origami_ui_text_success_small],
[origami_ui_text_warning_small] {
	font-size: calc(var(--origami_ui_theme_font_size) - var(--origami_ui_theme_font_size_step));
}

/* SMALLEST */
[origami_ui_text_smallest],
[origami_ui_text_contrast_smallest],
[origami_ui_text_light_smallest],
[origami_ui_text_main_smallest],
[origami_ui_text_dark_smallest],
[origami_ui_text_success_smallest],
[origami_ui_text_warning_smallest]{
	font-size: calc(var(--origami_ui_theme_font_size) - var(--origami_ui_theme_font_size_step) * 2);
}
