:root {
	/* Colors */
	--origami_ui_theme_primary_light: #99A9CD;
	--origami_ui_theme_primary_main: #1E4BD2;
	--origami_ui_theme_primary_dark: #002882;

	--origami_ui_theme_warning: #F1A038;
	--origami_ui_theme_success: #4CC864;

	--origami_ui_theme_background: #EAEDF5;

	/* Border radius */
	--origami_ui_theme_border_radius: 20px;
}
