:root {
	/* FONT STEP */
	--origami_ui_theme_font_size: 16px;
	--origami_ui_theme_font_size_step: 2px;


	/* COLORS */
	--origami_ui_theme_common: #000000;
	--origami_ui_theme_contrast: #FFFFFF;

	--origami_ui_theme_light: #99A9CD;
	--origami_ui_theme_main: #1E4BD2;
	--origami_ui_theme_dark: #002882;

	--origami_ui_theme_warning: #F1A038;
	--origami_ui_theme_success: #4CC864;

	--origami_ui_theme_background: #EAEDF5;


	/* BORDER RADIUS */
	--origami_ui_theme_border_radius: 20px;
}
