[origami_app_bank] {
	margin-top: 0;
}

[origami_app_bank_bank] {
	flex-direction: column;
	border-radius: 20px;
	background-color: white;
}

[origami_app_bank_bank_list] {
	gap: 0.5rem;
}

[origami_app_bank_bank_status_line] {
	align-items: center;
	padding: var(--mol_gap_text);
	justify-content: space-between;
	font-size: 14px;
}

[origami_app_bank_bank_status_line]>[mol_icon] {
	color: var(--origami_app_primary_light);
}

[origami_app_bank_bank_time_paragraph] {
	flex-grow: 1;
}

[origami_app_bank_typeswitcher] {
	justify-content: center;
}

[origami_app_bank_bank_distance],
[origami_app_bank_bank_time] {
	margin-left: 18px;
	position: relative;
}

[origami_app_bank_bank_distance]::before,
[origami_app_bank_bank_time]::before {
	content: '';
	position: absolute;
	bottom: 11px;
	left: -18px;
	width: 24px;
	height: 24px;
	background-size: contain;
}

[origami_app_bank_bank_distance]::before {
	background-image: url(./origami/app/assets/img/traced.svg);
}

[origami_app_bank_bank_time]::before {
	background-image: url(./origami/app/assets/img/time.svg);
}

[origami_app_bank_bank_workload_paragraph] {
	padding-left: 0;
}

[origami_app_bank_bank_workload] {
	position: relative;
	font-size: 12px;
	color: var(--origami_app_primary_light);
	font-weight: lighter;
	margin-right: 18px;
}

[origami_app_bank_bank_workload]::before {
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 12px;
	right: -14px;
	width: 18px;
	height: 24px;
}

[origami_app_bank_bank_workload][workload="0"]::before {
	background-image: url(./origami/app/assets/img/workload_1.svg);
}

[origami_app_bank_bank_workload][workload="1"]::before {
	background-image: url(./origami/app/assets/img/workload_2.svg);
}

[origami_app_bank_bank_workload][workload="2"]::before {
	background-image: url(./origami/app/assets/img/workload_3.svg);
}
